 /* Bordered form */
 .mainContainer {
    background-color: #B4CDED;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .errormes {
    color: red;
    display: block;
    width: 100%;
    margin-left: 11%;
    text-align: left;
    font-size: 220%;
    margin-bottom: 1%;
  }
  
  #title {
      margin-top: 40%;
      margin-bottom: 15%;
      color: #F0F4EF;
      font-size: 900%;
      font-family: 'Roboto', sans-serif;
      display: block;
  }
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 80%;
    height: 7%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    box-sizing: border-box;
    border-radius: 3%;
    background-color: #F0F4EF;
    font-size: 130%;
    margin-bottom: 2%;
  }
  ::placeholder {
    color: #B4CDED;
    font-weight: bold;
    font-size: 200%;
  }

  #forgotpas {
    display: block;
    width: 100%;
    margin-left: 11%;
    text-align: left;
    font-size: 220%;
  }
    
  .btn-secondary {
    background-color: #0D1821;
    font-size: 350%;
    color: #F0F4EF;
    width: 50%;
    height: 6%;
    line-height: 5px;
    text-align: center;
    border-radius: 2%;
    margin-top: 15%;
  }
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 820px) {
    span.psw {
      display: block;
      float: none;
    }
    #title {
      margin-top: 30%;
      font-size: 350%;
    }
    .btn-secondary {
      font-size: 160%;
      width: 50%;
      height: 7%;
    }
    input[type=text], input[type=password] {
      height: 8%;
      margin-bottom: 0.1%;
    }
    ::placeholder {
      font-size: 80%;
    }
    #forgotpas {
      font-size: 90%;
      margin-top: 0.7%;
    }
    .errormes {
      font-size: 90%;
    }
  } 
  @media screen and (min-height: 1300px){
    #title {
      margin-top: 20%;
    }
  }