 /* Bordered form */
 .mainContainer {
    background-color: #B4CDED;
    position: fixed;
    width: 75%;
    height: 100%;
    text-align: center;
}

#profilepic {
    border-radius: 50%;
    margin-top: 18%;
    width: 50%;
}

.title {
    margin-top: 4%;
    margin-bottom: 15%;
    color: #0D1821;
    font-size: 300%;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.coursetitle {
    margin-top: -4%;
    margin-bottom: -5%;
    color: green;
    font-size: 300%;
    font-weight: bold;
    margin-left: -50%;
    font-family: 'Roboto', sans-serif;
    display: block;
    text-decoration: underline;
}

.profileOption {
    color: black;
    display: block;
    font-size: 360%;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;

}

.profileOption:hover {color:#AA8585;}

#closePO {
    font-size: 520%;
    text-align: right;
    margin-top: 2%;
    margin-right: 5%;
    color: black;
    display: block;
}

@media screen and (max-width: 1000px) {
    .title{
        font-size: 120%;
    }
    .profileOption{
        font-size: 130%;
    }
    #closePO {
        font-size: 200%;
    }
    .coursetitle {
        font-size: 100%;
        margin-left: -50%;
    }
}
@media screen and (max-width: 770px) and (min-width: 750px) {
    .title{
        font-size: 200%;
    }
    .profileOption{
        font-size: 210%;
    }
    #closePO {
        font-size: 300%;
    }
    #profilepic {
        width: 45%;
    }
    .coursetitle {
        font-size: 250%;
        margin-left: -50%;
    }
}
@media screen and (min-width: 1020px) and (max-width: 1025px) {
    .title{
        font-size: 240%;
    }
    .profileOption{
        font-size: 250%;
    }
    #closePO {
        font-size: 320%;
    }
    #profilepic {
        width: 45%;
    }
    .coursetitle {
        font-size: 300%;
        margin-left: -55%;
    }
}


