 
 /* Bordered form */
 .mainContainer {
    background-color: #B4CDED;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  #title {
      margin-top: 40%;
      margin-bottom: 15%;
      color: #F0F4EF;
      font-size: 900%;
      font-family: 'Roboto', sans-serif;
      display: block;
  }
  
  .btn-secondary {
    background-color: #0D1821;
    font-size: 350%;
    color: #F0F4EF;
    width: 50%;
    height: 6%;
    line-height: 5px;
    text-align: center;
    border-radius: 2%;
    margin-top: 6%;
  }

  .dropdown {
    display: block;
    position: relative;
  }

  .dropbtn {
    width: 80%;
    background-color: #F0F4EF;
    color: #B4CDED;
    border: none;
    padding: 3% 20px;
    margin-top: 1%;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    box-sizing: border-box;
    border-radius: 3%;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 250%;
    text-align: left;
  }

  .dropdown-content {
    display: none;
    padding: 1% 20px;
    position: absolute;
    width: 80%;
    min-width: 160px;
    border: 3px solid #ccc;
    margin-left: 10%;
    text-align: left;
    background-color: #F0F4EF;
  }
  
  .dropdown-content a {
    padding: 2% 16px;
    text-decoration: none;
    display: block;
    color: #0D1821;;
    font-weight: normal;
    font-size: 320%;
    margin-left: -1%;
  }
  
  .dropdown-content a:hover {background-color: #0D1821; color:#F0F4EF;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {}

  .errormes {
    color: red;
    display: block;
    width: 100%;
    margin-left: 11%;
    text-align: left;
    font-size: 90%;
    margin-bottom: 1%;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 1030px) {
    span.psw {
      display: block;
      float: none;
    }
    #title {
      margin-top: 30%;
      font-size: 350%;
    }
    .dropbtn {
      padding: 2% 20px;
      font-size: 110%;
    }
  
    .dropdown-content {
      padding: 2% 20px;
    }
    
    .dropdown-content a {
      padding: 1% 16px;
      font-size: 120%;
      margin-left: -2%;
    }
  } 

