<div id="slider">
    <div class="circular-slider circular-slider-1">
      <div class="wrapper">
        <div class="controls">
          <div class="controls__left">
            <div class="icon-wrapper"><i class="far fa-arrow-alt-circle-left"></i></div>
          </div>
          <div class="controls__right">
            <div class="icon-wrapper"><i class="far fa-arrow-alt-circle-right"></i></div>
          </div>
          <!-- <div class="controls__autoplay controls__autoplay_running">
            <div class="icon-wrapper">
              <div class="pause"><i class="far fa-pause-circle"></i></div>
              <div class="run"><i class="far fa-play-circle"></i></div>
            </div>
          </div> -->
        </div>
        <div class="slides-holder">
          <div class="slides-holder__item" (click)="openLectures()" style="padding: 0%;"><img src="../../../assets/Group 40.png" class="week" alt="img"/>
          <ul class="lectures"  style="list-style: none; display: none;" (click)="chooseLecture()" >
            <li class="lecture" *ngFor="let lecture of lectureslist"  style=" transform: rotate(180deg);">
              <p class="lectext">{{lecture.title}}</p>
              <img id= "lectureImage" src="../../../assets/Rectangle 6.png"/>
            </li>
        
          </ul>
          </div>            
          <button class="slides-holder__item" style="padding: 0%;"><img src="../../../assets/Group 41.png" class="week" alt="img"/></button>
          <button class="slides-holder__item" style="padding: 0%;"><img src="../../../assets/Group 43.png" class="week" alt="img"/></button>
          <button class="slides-holder__item" style="padding: 0%;"><img src="../../../assets/Group 44.png" class="week" alt="img"/></button>
          <button class="slides-holder__item" style="padding: 0%;"><img src="../../../assets/Group 45.png" class="week" alt="img"/></button>
          <button class="slides-holder__item" style="padding: 0%;"><img src="../../../assets/Group 46.png" class="week" alt="img"/></button>
          <button class="slides-holder__item" style="padding: 0%;"><img src="../../../assets/Group 47.png" class="week" alt="img"/></button>
          <button class="slides-holder__item" style="padding: 0%;"><img src="../../../assets/Group 48.png" class="week" alt="img"/></button>
          <button class="slides-holder__item" style="padding: 0%;"><img src="../../../assets/Group 49.png" class="week" alt="img"/></button>
          <button class="slides-holder__item" style="padding: 0%;"><img src="../../../assets/Group 50.png" class="week" alt="img"/></button>
          <button class="slides-holder__item" style="padding: 0%;"><img src="../../../assets/Group 51.png" class="week" alt="img"/></button>

        </div>
         <!-- <div class="descriptions">
          <div class="descriptions__item descriptions__item_visible">
            <h1>Javascript</h1>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, ea? Commodi alias ad corporis velit, neque facere fugit nulla exercitationem veniam. Facere est cupiditate perspiciatis aliquid odio impedit enim quo!</p>
          </div>
          <div class="descriptions__item">
            <h1>Css3</h1>
            <p class="description"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, ea? Commodi alias ad corporis velit, neque facere fugit nulla exercitationem veniam. Facere est cupiditate perspiciatis aliquid odio impedit enim quo!</p>
          </div>
          <div class="descriptions__item">
            <h1>Html5</h1>
            <p class="description"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, ea? Commodi alias ad corporis velit, neque facere fugit nulla exercitationem veniam. Facere est cupiditate perspiciatis aliquid odio impedit enim quo!</p>
          </div>
          <div class="descriptions__item">
            <h1>Sass</h1>
            <p class="description"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, ea? Commodi alias ad corporis velit, neque facere fugit nulla exercitationem veniam. Facere est cupiditate perspiciatis aliquid odio impedit enim quo!</p>
          </div>
          <div class="descriptions__item">
            <h1>MVS Code</h1>
            <p class="description"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, ea? Commodi alias ad corporis velit, neque facere fugit nulla exercitationem veniam. Facere est cupiditate perspiciatis aliquid odio impedit enim quo!</p>
          </div>
          <div class="descriptions__item">
            <h1>Chrome</h1>
            <p class="description"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, ea? Commodi alias ad corporis velit, neque facere fugit nulla exercitationem veniam. Facere est cupiditate perspiciatis aliquid odio impedit enim quo!</p>
          </div>
        </div>  -->
      </div>
    </div>
  </div>