<div id="body">
<div class="attendants">
    <video id="teacher_video" autoplay>
        <source src="../../../assets//ezgif.com-gif-maker (1).mp4" type="video/mp4">
        <!-- <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML video. -->
      </video>
    <video id="attendants_video" autoplay>
        <source src="../../../assets/ezgif.com-gif-maker.mp4" type="video/mp4">
        <!-- <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML video. -->
      </video>

</div>
<div class="program">
    <img src="../../../assets/program.png" />
</div>
</div>
