
  <div id="mydiv">
    <nav id="mydivheader">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
        <img class="userface" src="{{photo}}"/>
     <!-- <span class="lines line-1"></span>
     <span class="lines line-2"></span>
     <span class="lines line-3"></span> -->
   </label>
 
    <a href="#" class="menu-item"> <img class="controlbut" src="../../../assets/close (1) 1.png"/></a>
    <a href="#" class="menu-item"> <img class="controlbut" src="../../../assets/694580256.png"/></a>
    <a href="#" class="menu-item"> <img class="controlbut" src="../../../assets/open-hands 1.png"/></a>
    <a href="#" class="menu-item"> <img class="controlbut" src="../../../assets/no-video 1.png"/></a>
    <a href="#" class="menu-item"> <img class="controlbut" src="../../../assets/mute 1.png"/></a>
    <a href="#" class="menu-item"> <img class="controlbut" src="../../../assets/rec 1.png"/></a>
    </nav>
  </div>