
  <div id="mydiv" cdkDrag>
    <nav id="mydivheader">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
        <img class="userface" src="{{user.photo}}"/>
     <!-- <span class="lines line-1"></span>
     <span class="lines line-2"></span>
     <span class="lines line-3"></span> -->
   </label>
 
    <button id="menu-item"> <img class="controlbut" src="../../../assets/close (1) 1.png"/></button>
    <button id="menu-item" class="{{user.name}}" style="border: none;" (click)="openreactions()"> <img class="controlbut" src="../../../assets/694580256.png"/><img class="reactions" style="display: none;" src="../../../assets/Group 66.png"></button>
    <button id="menu-item" class="{{user.name}}" name="raise-hand" (click)="raisehand()"> <img class="controlbut" src="../../../assets/Group 67 (1).png"/></button>
    <button id="menu-item" class="no-video"> <img class="controlbut" src="../../../assets/no-video 1.png"/></button>
    <button id="menu-item" class="mute"> <img class="controlbut" src="../../../assets/mute 1.png"/></button>
    <button id="menu-item"> <img class="controlbut" src="../../../assets/rec 1.png"/></button>
    </nav>
  </div>