<div class="hamburgerContainer">
    <button (click)="openProfileOptions()" class="line"></button>
    <button (click)="openProfileOptions()" class="line"></button>
    <button (click)="openProfileOptions()" class="line"></button>
</div>

<ami-fullstack-profile-options id="po" style="display: none;"></ami-fullstack-profile-options>

<div class="navoptions">
    <a id="WhiteboardButton" (click)="openWhiteboard()">Whiteboard</a>
    <a id="NotesButton" style="background-color: white;" (click)="openNotes()">    Notes  </a>
</div> 


<img id='whiteboard' class="responsiveImage" style="display: none;" src="assets/whiteb.png" alt="Avatar"> 
<div id="notes">
    <img class="responsiveImage" src="assets/notes.png" alt="Avatar"> 
    <button id="save" class="btn btn-secondary" >SAVE AS</button>
</div>

