<div class="hamburgerContainer">
    <button routerLink="/profileOptions" class="line"></button>
    <button routerLink="/profileOptions" class="line"></button>
    <button routerLink="/profileOptions" class="line"></button>
</div>
<div class="navoptions">
    <a id="WhiteboardButton" (click)="openWhiteboard()">Whiteboard</a>
    <a id="NotesButton" style="background-color: white;" (click)="openNotes()">    Notes  </a>
</div> 

<img id='whiteboard' class="responsiveImage" style="display: none;" src="assets/whiteb.png" alt="Avatar"> 
<img id='notes' class="responsiveImage" src="assets/notes.png" alt="Avatar"> 

